.wrapper {
    display: flex;
    flex-direction: column;
}

.navbar {
    position: relative;
    margin: 0 3.5rem;
    height: 100%;
}

.navbar-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 1.35em;
}

.logo {
    padding-top: .5rem;
    height: 45px;
    width: 167px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    justify-content: flex-end;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://assets.nflxext.com/ffe/siteui/vlv3/538717c0-f271-40e9-a99e-b07f9c521322/785c7470-5017-4447-8845-b7eeaa9f2070/US-en-20210201-popsignuptwoweeks-perspective_alpha_website_large.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 46em;
    z-index: -1;
    border-bottom: .5em solid #222;
}

.sign-in {
    background-color: #e50914;
    padding: .435em 1.125em;
    font-size: 1rem;
    border-radius: 3px;
    color: white;
}

.sign-in:hover {
    cursor: pointer;
}

.card-header {
    position: relative;
    width: 100%;
    padding: 75px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
    margin-top: 7%;
    color: white;
}

.card-title {
    font-size: 4rem;
    max-width: 776px;
    font-weight: bolder;
    margin: 0 auto;
}

.card-subtitle1 {
    font-size: 1.625rem;
    margin: .625em auto;
}

.subscribe {
    color: white;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    font-size: 1.2rem;
}

.form-wrapper {
    max-width: 950px;
    width: 100%;
    color: white;
    text-align: center;
}

.input-wrapper {
    display: flex;
    flex: auto;
    margin-top: 1.25em;
    justify-content: center;
}

.input-bar {
    height: 2.75em;
    width: 64%
}

.start {
    background-color: #e50914;
    border-left: 1px solid #333;
    padding: 15px 30px;
    color: white;
    font-weight: 600;
}

.story-card1 {
    border-bottom: .5em solid #222;
    position: relative;
    background-color: black;
    color: white;
}

.story-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 70px 45px;
}

.story-text {
    width: 52%;
    height: 100%;
    flex: 0 1 auto;
    padding: 0 3rem 0 0;
    z-index: 3;
}

.story-title {
    font-size: 3.125rem;
    font-weight: 600;
}

.story-content {
    font-size: 1.625rem;
}

.img-container {
    width: 48%;
    display: flex;
    flex: 0 1 auto;
}

.animation-container {
    margin: -10% -5% -5% 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.our-story-card-img {
    position: relative;
    z-index: 2;
}